body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: consolas;

}
.enquiries
{
    box-sizing: border-box;
    border: 2px solid #000;
    cursor: pointer;
    
}
.contact :active
{
    width: 800px;
    min-height: 400px;
}
.enquiries:hover
{
    background: #000;
    color: #fff;
}
.enquiries h2
{
    margin: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.enquiries h2 span
{
    display: inline-block;

}
.enquiries.active h2 span
{
    transform: rotate(45deg);
    float: right;
}
.enquiries
{
    box-sizing: border-box;
    border: 2px solid rgb(15, 15, 15);
    cursor: pointer;
}
.enquiries.active
{
    width: 800px;
    min-height: 400px;
}
.enquiries.active :hover
{
    background: #fff;
    color: #000;
}

.enquiries:hover
{
    background: #000;
    color: #fff;
}
form
{
    padding: 20px;
    box-sizing: border-box;
}